spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: 0
logging:
  file:
    name: logs/app.log